<div class=" container container-fluid">
    <div class="row">
        <!-- Watchlist Widget -->
        <div class="col-sm-5">
            <h4>WatchList View</h4>
            <div class="tradingview-widget-container">
                <div id="market-overview" class="tradingview-widget-container__widget"></div>
            </div>
        </div>
        <!-- Chart Widget -->
        <div class="col-sm-7" style="padding-left: 0px;">
            <h4>Chart View</h4>
            <div class="tradingview-widget-container" style="height:100%;width:100%">
                <div id="advanced-chart" class="tradingview-widget-container__widget"
                    style="height:calc(100% - 32px);width:100%"></div>
            </div>
        </div>
    </div>
</div>