@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.registrationform{
    font-family: 'Poppins', sans-serif;
    background-color: #4070f4;
}

.form {
    background-color: #fff;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

.container{
    padding-top: 58px;
}